<div class="w-64 m-2 border rounded shadow flex flex-col justify-between">
  <%= link_to image_tag(gif.image_url, class: "mx-auto"), gif, class: "block bg-black" %>
  <div class="p-2 text-sm text-center">
    <%= link_to linked_tag_list gif %>
    <p class="mb-2">This was uploaded by <%= link_to gif.user.name, gif.user %></p>
  </div>
</div>
